<!DOCTYPE html>
<html lang="en">

<html> 
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>National Park Services | Home Page</title>
        <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
        <link rel="stylesheet" href="../static/stylesheet.css"/>
        <script type="text/javascript" src="../static/myscript.js"></script> 

        <!-- <script>
            function 
        </script> -->
    </head>


    <body>
        <div class="nav">
            <form method="GET"> 
                <!-- <input type="search" class="searchbar" name="search" placeholder="Search title, author, or keyword..." size="40">
                <button type="submit">Search</button> -->
                <a href={{url_for('start')}}>Home Page</a>
                <a href={{url_for('parks')}}>Parks Page</a>
            </form> 
        </div>


        <div class="home-page-title">
            <h1>Welcome to National Park Services</h1>
        </div>


        <!-- <form action="parks.html" method="POST">
            <button class="button-for-park">Parks</button> <br>
        </form> -->
    </body>
</html>