<!DOCTYPE html>
<html lang="en">
<!-- https://www.w3schools.com/howto/howto_js_tabs.asp -->

<html> 
    <head>
        <!-- <meta charset="UTF-8"> -->
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>National Park Services | Parks Page</title>
        <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
        <link rel="stylesheet" href="../static/stylesheet.css"/>
        <script type="text/javascript" src="../static/myscript.js"></script>   
    </head>


    <body>
        <div class="nav">
            <form method="GET"> 
                <!-- <input type="search" class="searchbar" name="search" placeholder="Search title, author, or keyword..." size="40">
                <button type="submit">Search</button> -->
                <a href={{url_for('start')}}>Home Page</a>
                <a href={{url_for('parks')}}>Parks Page</a>
            </form> 
        </div>

        <div class="parks-page">
            <h1>National Parks Page </h1>
            <hr>
        </div>

        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
        </div>
        
        <!-- Tab content -->
        <div id="London" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <h3>National Parks</h3>
            <p>London is the capital city of England.</p>
        </div>

        <div id="Paris" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
        </div>

        <div id="Tokyo" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>
        <hr>

        <table>
            <tr>
                <th>Time Zone</th>
                <th>Biomes</th>
                <th>Strength</th>
            </tr>
            <tr>
                <td>
                    <label for="time-zones">Choose a Time Zone:</label>
                    <select name="Time Zones" id="time-zones">
                    <option value="volvo">-11</option>
                    <option value="saab">-10</option>
                    <option value="mercedes">-9</option>
                    <option value="audi">-8</option>
                    <option value="volvo">-7</option>
                    <option value="saab">-6</option>
                    <option value="mercedes">-5</option>
                    <option value="audi">-4</option>
                    <option value="volvo">-3</option>
                    <option value="saab">-2</option>
                    <option value="mercedes">-1</option>
                    <option value="audi">UTC</option>
                    <option value="volvo">+1</option>
                    <option value="saab">+2</option>
                    <option value="mercedes">+3</option>
                    <option value="audi">+4</option>
                    <option value="volvo">+5</option>
                    <option value="saab">+6</option>
                    <option value="mercedes">+7</option>
                    <option value="audi">+8</option>
                    <option value="volvo">+9</option>
                    <option value="saab">+10</option>
                    <option value="mercedes">+11</option>
                    </select>
                </td>

                <td>
                    <label for="biome-type">Choose a Time Zone:</label>
                    <select name="Biomes" id="biome-type">
                    <option value="tropical">Tropical</option>
                    <option value="rainforest">Rainforests</option>
                    <option value="savannas">Savannas</option>
                    <option value="subtropical deserts">Subtropical Deserts</option>
                    <option value="chaparral">Chaparral</option>
                    <option value="temperate grasslands">Temperate Grasslands</option>
                    <option value="temperate forests">Temperate Forests</option>
                    <option value="borreal forests">Boreal Forests</option>
                    <option value="arctic tundra">Arctic Tundra</option>
                    </select>
                </td>


                <td>
            
                </td>
            </tr>
        </table> 
        <hr> 

        <footer>
            <p>@ National Parks Service Database 2022 </p>
        </footer> 
    </body>
</html>